<%= render :partial => 'form', locals: {obj: @tournament} %>
<%= render partial: 'shared/show_messages', locals: {flash: flash} %>
<table class="table table-bordered" id="">
  <caption style="text-align: center;">TOURNAMENTS LIST
    <%= content_tag(:button, "ADD TOURNAMENT", type: "button", class: "btn btn-info",
    data: {toggle: "modal", target: "#modal", whatever: "{Method: 'post', obj: 'tournament'}"}, style: "float:right;")%>
  </caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% unless @tournaments.blank? %>
    <% @tournaments.each_with_index do |tournament, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= tournament.name %></td>
      <td>
        <% data = "{Method: 'put', Id: '#{tournament.id}', Token: '#{form_authenticity_token}', 
        Name: '#{tournament.name}', num_of_teams: #{tournament.num_of_teams}, obj: 'tournament'}"  %>
        <%= link_to tournament, class: "btn btn-info" do %>
        <i class="fa fa-times">Details</i>
        <% end %>
        <%= content_tag(:button, "Edit", type: "button", class: "btn btn-info",
        data: {toggle: "modal", target: "#modal", whatever: "#{data}"})%>
        <%= link_to tournament, method: :delete,
        data: {confirm: "Are you sure ?"}, remote: true, class: "btn btn-danger" do %>
        <i class="fa fa-times">Delete</i>
        <% end %>
      </td>
    </tr>
    <% end %> 
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function(){
    $('#myTable').DataTable({
    });
  });
</script>