<h1>
	<%= link_to @tournament.name, @tournament  %>
	<%= link_to submit_matches_tournament_path(@tournament), class: "btn btn-info",  style: "float: right;",
	data: {confirm: "Bạn có chắc chắn cập nhật tỷ sô"} do %>
		<i class="fa fa-times">Submit Results</i>
	<% end %>
</h1>
<div id="messages">
	<%= render partial: 'shared/show_messages', locals: {flash: flash} %>
</div>
<%= render partial: 'group', collection: @tournament.groups %>
<script type="text/javascript">
	$(function () {
		$('.datetimepicker').datetimepicker({
			format: 'MM/DD/YYYY hh:mm',
		});
	});
	$(".update_time").click(function() {
		var time = ( $(this).parent().find('input[type="text"]').val());
		var current = moment().format('MM/DD/YYYY hh:mm');
		var date = new Date($.now());
		var date1 = new Date(time);
		if (new Date(time) <= new Date(current)) {
			alert("Vui lòng chọn thời gian > thời gian hiện tại");
			return false;
		} else{
			return true;
		}
	});
</script>
<script type="text/javascript">
	<%= render(:partial => 'update_match', :formats => [:js]) %>
</script>
