<tr>
<td><%= team_counter %></td>
  <td><%= team.name %></td>
  <td>
    <%= content_tag(:button, "Tournament's list", type: "button", class: "btn btn-info",
      data: {toggle: "modal", target: "#tournaments-list", whatever: "#{team.get_tournaments_name}"},
      style: "float:right;" )%>
    </td>
    <td>
      <% data = "{Method: 'put', Id: '#{team.id}', Token: '#{form_authenticity_token}', 
      Name: '#{team.name}',obj: 'team'}"  %>
      <%= content_tag(:button, "Edit", type: "button", class: "btn btn-info",
      data: {toggle: "modal", target: "#modal", whatever: "#{data}"} )%>
      <%= render partial: 'shared/delete_link', locals: {obj: team} %>
    </td>
  </tr>