<%= render partial: 'shared/form', locals: {obj: @team} %>
<%= render partial: 'shared/show_messages', locals: {flash: flash} %>
<%= render partial: 'tournaments_list' %>
<table class="table table-bordered">
  <caption style="text-align: center;">TEAMS LIST
    <%= content_tag(:button, "ADD TEAM", type: "button", class: "btn btn-info",
     data: {toggle: "modal", target: "#modal", whatever: "{Method: 'post', obj: 'team'}"}, style: "float:right;" )%>
  </caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'team', collection: @teams %>
  </tbody>
</table>
